.breadcrumbs {
    background: rgba(22, 26, 25, 0.35);
    border-radius: 5px 5px 0px 0px;
    padding: 20px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        color: #DBDBDB;
        position: relative;

        &::after {
            content: '/';
            position: absolute;
            top: 0;
            right: -12px;
            @media (max-width:$mobile){
                 right: -6px; 
            }
        }

        &:not(:first-child) {
            margin-left: 18px;
           @media (max-width:$mobile){
            margin-left: 9px; 
           }
        }

        a {
            transition: color $transitionSpeed $transitionFunction;
        }

        &:hover {
            a {
                color: $lightBlueColor;
            }
        }

        @media (max-width:$mobile) {
            font-size: 10px;
        }
    }

    &__item--last {
        font-weight: 500;

        &::after {
            display: none;
        }
    }

    @media (max-width:$mobile) {
        padding: 15px 20px 15px 10px;
    }
}
