.hero {
    position: relative;

    &__breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    &__inner {
        border: 2px solid #2B2B2B;
        border-radius: 12px;
    }

    &-slider {
        border-radius: 10px;
        height: 448px;
        width: 100%;
        overflow: hidden;
    }

    &-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &__inner {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            z-index: 2;
        }

        &__title {
            padding: 100px 100px 72px;
            max-width: 400px;
        }

        &::before {
            content: '';
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    &__text {
        margin-top: 40px;
        font-size: 20px;
        line-height: math.div(23, 20);
    }
}

.hero-slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px !important;

    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        border: 1px solid $whiteColor;
        opacity: 1;
        background-color: transparent;
        margin: 0 !important;

        &:not(:first-child) {
            margin-left: 5px !important;
        }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1;
        background-color: $whiteColor;
    }
}
