.nav {
    &__list {
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
            flex-direction: column;
            text-align: center;

        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 30px;

            @media (max-width: 1200px) {
                margin-right: 0;
            }
        }

        &:hover {
            .nav__link {
                color: $lightBlueColor
            }
        }

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    &__link {
        padding: 15px 0;
        transition: color $transitionSpeed $transitionFunction;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    @media (max-width: 1200px) {
        position: absolute;
        left: 0;
        top: calc(var(--header-height) - 2px);
        height: calc(var(--vh) - var(--header-height) + 2px);
        z-index: 4;
        width: 100%;
        background: #818182;
        transform: translateY(-150%);
        transition: transform 0.35s ease-in-out;
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content;
        grid-row-gap: 20px;

        &::before {
            content: '';
            width: calc(100% - 30px);
            height: 2px;
            right: 15px;
            position: absolute;
            top: 0;
            background-color: #4A4A4A;
            transition: transform 0.3s $transitionFunction 0.4s;
            transform-origin: center;
            transform: scale(0);
        }

        &.menu--active {
            transform: translateY(0);

            &::before {
                transform: scale(1);
            }
        }

    }
}






.nav-dropdown {
    position: relative;
    padding: 15px 0;

    &__title {
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: $lightBlueColor;
            stroke: none;
            display: block;
            width: 8px;
            height: 8px;
            margin-left: 5px;
        }
    }

    &__content {
        @media (min-width:1201px) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 4;
            opacity: 0;
            visibility: hidden;
            transform: translateY(25px);
            width: 213px;
            background: rgba(28, 29, 31, 0.5);
            border: 1px solid #2B2B2B;
            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
            border-radius: 0px 5px 5px 5px;
            transition: opacity 0.35s $transitionFunction,
                visibility 0.35s $transitionFunction,
                transform 0.35s $transitionFunction;
        }

        @media (max-width:1200px) {
            background: rgba(28, 29, 31, 0.5);
        }

    }

    &__list {
        padding: 5px 0;
        display: flex;
        flex-direction: column;

        @media (max-width:1200px) {
            border-bottom: 1px solid #222121;
            border-top: 1px solid #222121;
        }
    }

    &__item {
        &:hover {
            .nav-dropdown__link {
                color: $lightBlueColor;
            }
        }

        @media (max-width:1200px) {
            &:not(:last-child) {
                border-bottom: 1px solid #222121;
            }
        }
    }

    &__link {
        width: 100%;
        padding: 7px 20px;
        transition: color $transitionSpeed $transitionFunction;

        @media (max-width:1200px) {
            padding: 15px 20px;
        }
    }

    @media (min-width:1201px) {
        &:hover {
            .nav-dropdown__title {
                color: $lightBlueColor;

                svg {
                    transform: rotate(180deg);
                }
            }

            .nav-dropdown__content {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    @media (max-width:1200px) {
        width: 100%;
        text-align: center;
        padding: 0;

        &__title {
            padding: 15px 0;
            width: 100%;
            transition: color $transitionSpeed $transitionFunction,
                background-color $transitionSpeed $transitionFunction 0.4s;

            svg {
                width: 10px;
                height: 9px;
                margin-left: 10px;
            }

            &:hover {
                color: $lightBlueColor;
            }

            &._active {
                color: $lightBlueColor;
                background-color: rgba(28, 29, 31, 0.8);
                transition: color $transitionSpeed $transitionFunction,
                    background-color $transitionSpeed $transitionFunction;

                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
