.popular-collections {
    margin-bottom: 30px;
    position: relative;

    &-slider {
        height: 545px;
        @media (max-width:$smallTablet){
            height: 370px;
        }
    }

    &-slide {}
    @media (max-width:$mobile){
         margin-bottom: 17px; 
    }
}

.popular-collections-slide {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    &__inner {
        padding: 20px;
        max-width: 205px;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: math.div(45, 36);
        text-transform: uppercase;
        @media (max-width:$tablet){
            font-size: 30px;
        }
        @media (max-width:$mobile){
             font-size: 26px; 
        }
    }

    &__btn {
        margin-top: 20px;
        font-weight: 500;
        background-color: $lightBlueColor;
        border-radius: 57px;
        padding: 13px 32px;
        color: $whiteColor;

        &:hover {
            background-color: $whiteColor;
            color: $black2Color;
        }
        @media (max-width:$mobile){
            margin-top: 10px;
             font-size: 14px;
             line-height: math.div(16 ,14 );
              padding: 10px 26px;
        }
    }
    @media (max-width:$smallTablet){
        background-position: center;
    }
}

.popular-collections-slider-pagination {
    bottom: -30px !important;
    @media (max-width:$mobile){
         bottom: -17px !important; 
    }
}
