.burger {
    --burger-width: 28px;
    --burger-height: 28px;
    --burger-line-height: 2px;

    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: $whiteColor;
    background-color: $lightBlueColor;
    cursor: pointer;
    border-radius: 5px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 4px;
        width: 20px;
        height: var(--burger-line-height);
        background-color: currentColor;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 7px;
    }

    &::after {
        top: calc(100% - var(--burger-line-height) - 7px);
    }

    &__line {
        position: absolute;
        right: 4px;
        top: 50%;
        width: 14px;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }

    &--active {
        &::before {
            top: calc(50% - 1px);
            transform: rotate(45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        &::after {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        .burger__line {
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
    }
}
