<section class="movie-list all-related-films">
    <h2 class="movie-list__title title-2">
        Все похожие фильмы
    </h2>
    <ul class="movie-list__list list-reset all-related-films__cols">
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-1.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-1.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-1.jpg" alt="Мужские слезы">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Мужские слезы
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-2.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-2.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-2.jpg" alt="Исчезнувший">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Исчезнувший
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-3.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-3.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-3.jpg" alt="Пассажиры">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Пассажиры
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-4.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-4.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-4.jpg" alt="Злое">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Злое
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-5.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-5.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-5.jpg" alt="Дальний космос">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Дальний космос
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Фантастика, Великобритания
                    </p>
                </div>
            </a>
        </li>

        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-6.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-6.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-6.jpg" alt="Гениальное ограбление">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Гениальное ограбление
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Фантастика, Великобритания
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-7.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-7.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-7.jpg" alt="Персонаж">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Персонаж
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-8.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-8.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-8.jpg" alt="Пассажиры">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Пассажиры
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-9.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-9.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-9.jpg" alt="Шан-Чи и легенда десяти колец">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Шан-Чи и легенда десяти колец
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
        <li class="movie-list__item movie-list-item">
            <a href="#" class="movie-list-item__inner">
                <picture>
                    <source srcset="img/movie-list/movie-list-item-10.avif" type="image/avif">
                    <source srcset="img/movie-list/movie-list-item-10.webp" type="image/webp">
                    <img loading="lazy" src="img/movie-list/movie-list-item-10.jpg" alt="Механик">
                </picture>
                <div class="movie-list-item__content">
                    <h4 class="movie-list-item__name">
                        Механик
                    </h4>
                    <p class="movie-list-item__descr">
                        2020, Драма, США
                    </p>
                </div>
            </a>
        </li>
    </ul>
</section>
