<footer class="footer">
    <div class="container">
        <div class="footer__top footer-top">
            <div class="footer-top__column footer-top__column--logo">
                <a href="#" class="footer-top__logo logo">
                    <img loading="lazy" src="img/logo.svg" class="logo__img" width="287" height="177" alt="MOVIE DB">
                </a>
            </div>
            <div class="footer-top__column footer-top__menu">
                <h4 class="footer-top__subtitle">
                    Меню
                </h4>
                <ul class="footer-top__list list-reset">
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Подборки
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            По жанру
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Фильмы
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Сериалы
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Мультфильмы
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Аниме
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a href="#" class="footer-top__link">
                            Актеры
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__column footer-top__about">
                <div class="footer-top__descr">
                    <p>
                        Зная всё о кино, хочется поделиться этим с другими. Делитесь фильмами, трейлерами, персонами и
                        новостями в социальных сетях, присваивайте рейтинги фильмам и обсуждайте их с друзьями и
                        подписчиками!
                    </p>
                    <p>
                        Интересные фильмы, ближайшие кинотеатры и любимых актеров можно добавлять в «Избранное». Система
                        покажет все связанные с ними новости и новые трейлеры, подскажет, когда можно купить билет в
                        кино на интересующую премьеру. Присоединяйтесь!
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__bottom footer-bottom">
            <p class="footer-bottom__copy">
                ©Все права защищены MovieDB.ru 2021
            </p>
            <div class="footer-bottom__social">
                <ul class="social list-reset">
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--fb"
                            aria-label="Наша страничка в Фейсбуке">
                            <svg>
                                <use xlink:href="img/sprite.svg#fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--tw"
                            aria-label="Наша страничка в Инстаграме">
                            <svg>
                                <use xlink:href="img/sprite.svg#inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--vk"
                            aria-label="Наша страничка во Вконтакте">
                            <svg>
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="footer-bottom__rules">
                Политика конфиденциальности
            </a>
        </div>
    </div>
</footer>
