<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo logo">
                <img loading="lazy" src="img/logo.svg" class="logo__img" width="157" height="94" alt="MOVIE DB">
            </a>
            <nav class="header__nav nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Подборки</a></li>
                    <li class="nav__item nav-dropdown nav-dropdown--arrow">
                        <button type="submit" class="btn btn-reset nav-dropdown__title">
                            По жанру
                        </button>
                        <div class="nav-dropdown__content">
                            <ul class="nav-dropdown__list list-reset">
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Боевик</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Военные</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Детектив</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Детский</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Драма</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Комедия</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Криминал</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Мелодрама</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Триллер</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Ужасы</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Фантастика</a>
                                </li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Фэнтези</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Фильмы</a></li>
                    <li class="nav__item nav-dropdown nav-dropdown--arrow">
                        <button type="submit" class="btn btn-reset nav-dropdown__title">
                            Сериалы
                        </button>
                        <div class="nav-dropdown__content">
                            <ul class="nav-dropdown__list list-reset">
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Боевик</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Военные</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Детектив</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Детский</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Драма</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Комедия</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Криминал</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Мелодрама</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Триллер</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Ужасы</a></li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Фантастика</a>
                                </li>
                                <li class="nav-dropdown__item"><a href="#" class="nav-dropdown__link">Фэнтези</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Мультфильмы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Аниме</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Актеры</a></li>
                </ul>
            </nav>
            <form action="#" class="header__search search">
                <input type="text" name="search" class="input-reset search__input" placeholder="Поиск по сайту">
                <button class="btn btn-reset search__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</header>
