<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo logo">
                <img loading="lazy" src="img/logo.svg" class="logo__img" width="157" height="94" alt="MOVIE DB">
            </a>
            <nav class="header__nav nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Подборки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">По жанру</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Фильмы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Сериалы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Мультфильмы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Аниме</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Актеры</a></li>
                </ul>
            </nav>
            <form action="#" class="header__search search">
                <input type="text" name="search" class="input-reset search__input" placeholder="Поиск по сайту">
                <button class="btn btn-reset search__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</header>
