<section class="hero movie-page-hero">
    <div class="hero__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
                <a href="#">
                    Главная
                </a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#">
                    Фильмы
                </a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--last">
                <span>
                    Фильмы похожие на Большой куш
                </span>
            </li>
        </ul>
    </div>
    <div class="hero__inner">
        <div class="swiper hero-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero-slide" style="background-image: url(img/hero-slide/hero-slide-2.jpg);">
                    <a href="#" class="hero-slide__inner">
                        <h1 class="hero-slide__title title-1">
                            Фильмы похожие на Большой куш
                        </h1>
                    </a>
                    <div class="hero__grade hero-grade">
                        <div class="hero-grade__header">
                            <span class="hero-grade__left">
                                8.5
                            </span>
                            <div class="hero-grade__right">
                                <span>
                                    Оценка
                                </span>
                                <div class="rating hero-grade__rating">
                                    <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                            <input type="radio" class="rating__item" value="1" name="rating">
                                            <input type="radio" class="rating__item" value="2" name="rating">
                                            <input type="radio" class="rating__item" value="3" name="rating">
                                            <input type="radio" class="rating__item" value="4" name="rating">
                                            <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                    </div>
                                    <div class="rating__value">4</div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-grade__footer">
                            <span>Рейтинг</span> IMDb: <span>7.5</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide hero-slide" style="background-image: url(img/hero-slide/hero-slide-1.jpg);">
                    <a href="#" class="hero-slide__inner">
                        <h1 class="hero-slide__title title-1">
                            Лучшие фильмы всех времен
                        </h1>
                    </a>
                </div>
                <div class="swiper-slide hero-slide" style="background-image: url(img/hero-slide/hero-slide-2.jpg);">
                    <a href="#" class="hero-slide__inner">
                        <h1 class="hero-slide__title title-1">
                            Фильмы похожие на Большой куш
                        </h1>
                    </a>
                    <div class="hero__grade hero-grade">
                        <div class="hero-grade__header">
                            <span class="hero-grade__left">
                                8.5
                            </span>
                            <div class="hero-grade__right">
                                <span>
                                    Оценка
                                </span>
                                <div class="rating hero-grade__rating">
                                    <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                            <input type="radio" class="rating__item" value="1" name="rating">
                                            <input type="radio" class="rating__item" value="2" name="rating">
                                            <input type="radio" class="rating__item" value="3" name="rating">
                                            <input type="radio" class="rating__item" value="4" name="rating">
                                            <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                    </div>
                                    <div class="rating__value">4</div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-grade__footer">
                            <span>Рейтинг</span> IMDb: <span>7.5</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide hero-slide" style="background-image: url(img/hero-slide/hero-slide-1.jpg);">
                    <a href="#" class="hero-slide__inner">
                        <h1 class="hero-slide__title title-1">
                            Лучшие фильмы всех времен
                        </h1>
                    </a>
                </div>
            </div>
            <div class="hero-slider-pagination slider-pag-primary"></div>
        </div>
    </div>
    <p class="hero__text">
        Мы собрали для Вас подборку лучших фильмов по теме “{название подборки}” с рейтингом от {минимальный рейтинг фильмов из подборки} и до {максимальный рейтинг фильмов из подборки}. В неё вошли фильмы следующих жанров: {жанр1}({число раз}), {жанр2}({число раз}), {жанр3}({число раз}). Самый новый фильм - {год} года, самый старый фильм - {год} года. Продолжительность фильмов от {минимальная продолжительность} до {максимальная продолжительность}. Выбирайте фильм и приятного просмотра!
    </p>
</section>
