<section class="slider-line new-similar-films">
    <h2 class="slider-line__title title-2">
        Новые похожие фильмы
    </h2>
    <div class="slider-line__inner">
        <div class="swiper slider-line-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-1.jpg" alt="Механик">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Механик
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Драма, США
                        </p>
                    </a>
                </div>
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-2.jpg"
                                alt="Шан-Чи и легенда десяти колец">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Шан-Чи и легенда десяти колец
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Фантастика, Великобритания
                        </p>
                    </a>
                </div>
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-3.jpg" alt="Гениальное ограбление">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Гениальное ограбление
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Драма, США
                        </p>
                    </a>
                </div>
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-4.jpg" alt="Персонаж">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Персонаж
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Драма, США
                        </p>
                    </a>
                </div>
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-5.jpg" alt="Пассажиры">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Пассажиры
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Драма, США
                        </p>
                    </a>
                </div>
                <div class="swiper-slide slider-line-slide">
                    <a href="#" class="slider-line-slide__inner">
                        <div class="slider-line-slide__img">
                            <img src="img/slider-line-slide/slider-line-slide-3.jpg" alt="Пассажиры">
                            <div class="slider-line-slide__rating slider-line-slide-rating">
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--kinopoisk">
                                    <img src="img/kinopoisk.jpg" alt="Кинопоиск">
                                    <span>4.8</span>
                                </div>
                                <div class="slider-line-slide-rating__row slider-line-slide-rating__row--imdb">
                                    <img src="img/imdb.jpg" alt="IMDB">
                                    <span>4.7</span>
                                </div>
                            </div>
                            <div class="slider-line-slide__hover">
                                <img loading="lazy" src="img/watch.svg" width="54" height="41" alt="Смотреть">
                                <span>
                                    Смотреть
                                </span>
                            </div>
                        </div>
                        <h4 class="slider-line-slide__name">
                            Пассажиры
                        </h4>
                        <p class="slider-line-slide__descr">
                            2020, Драма, США
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="slider-nav-primary slider-nav-primary_prev slider-line-swiper-nav slider-line-swiper-nav_prev">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <div class="slider-nav-primary slider-nav-primary_next slider-line-swiper-nav slider-line-swiper-nav_next">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>
